p {
  font-size: 50px;
  font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3 {
  font-family: 'Cabin', sans-serif;
}

h1 {
  text-align: center;
  color: #12646f;
  background-color: #ececec;
  margin: 20% 5% 3% 5%;
  padding-top: 3%;
  font-size: 4em;
}

h2 {
  text-align: center;
  font-size: 3em;
  line-height: 44px;
  color: #fbfbfb;
}

h3  {
  text-align: center;
  font-size: 2.5em;
}

form {
  margin: 20% 5% 0 5%;
  padding: 2% 35% 1% 2%;
  font-style: 'Ubuntu', sans-serif;
  font-size: 1em;
}

fieldset {
  padding: 5%;
  font-family: 'Ubuntu', sans-serif;
}

input, textarea {
  margin-bottom: 3%;
  font-size: 2em;
  width: 95%;
  padding: 0.5em;
}

legend {
  font-weight: bold;
  font-size: 3em;
  color: #ffffff;
  text-shadow: #000 1px 1px 2px;
  width: 100%;
}

label {
  font-size: 2.5em;
  width: 100%;
  color: #ffffff;
  text-shadow: #000 1px 1px 2px;
}

a {
  color: #fbfbfb;
}

.row {
  display: flex;
  flex-direction: column;
}

.column {
  flex-grow: 1;
}

#columnOne {
  flex-basis: 100%;
  margin-bottom: 15%;
}

#contactForm {
  margin: 0;
  padding: 0;
  width: 100%;
}

#intro {
  background-color: #ececec;
  width: 100%;
  height: 100%;
  margin: 0;
  padding-top: 5%;
}

#formButton {
  width: 100%;
  border: none;
  padding: 5%;
  background: #ececec;
  color: #12646f;
  font-size: 3em;
  font-family: 'Ubuntu', sans-serif;
  padding: 2% 2% 2% 2%;
  margin: 5% 0 0 0;
  border-radius: 5px;
  border-bottom: 5px solid #c2b394;
  border-right: 3px solid #c2b394;
  text-transform: uppercase;
}

#formButton:hover {
  color: white;
  background: #12646f;
}

#forms {
  padding-bottom: 0;
  width: 100%;
}

#submitMsg {
  background-color: #12646f;
  color: white;
  text-shadow: 0 0 1px black;
  font-weight: bold;
  margin: 0;
  padding: 2%;
  width: 100% auto;
  text-align: center;
}

#emailAddress:hover {
  color: #12646f;
}

.shrunkenConfirm {
  display: none;
}

.expandedConfirm {
  display: initial;
}

#coffee {
  background-color: #53b0bd;
  margin: auto;
  padding: 5% 10% 5% 10%;
}

.socialLogos {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#instagram {
  width: 48px;
  height: 48px;
}

#facebook {
  width: 68px;
  height: 47px;
  padding-top: 3px;
}

/**********PHONE LANDSCAPE*************/
@media screen and (orientation: landscape) {
  p {
    font-size: 30px;
  }
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2.5em;
  }
  h3 {
    font-size: 2em;
  }
  legend {
    font-size: 2.5em;
  }
  label {
    font-size: 1.75em;
  }
  #formButton {
    font-size: 2em;
  }
}
/**********TABLET*************/
@media screen and (min-width: 750px) {

}
/**********TABLET LANDSCAPE*************/
@media screen and (min-width: 750px) and (orientation: landscape){
}

/**********DESKTOP*************/
@media screen and (min-width: 1000px) {
  h1 {
    margin: 0;
    padding: 3% 0 3% 0;
    background-color: #ececec;
    font-size: 2em;
  }
  h2 {
    font-size: 1.75em;
  }
  h3 {
    font-size: 1.25em;
  }
  legend {
    font-size: 1.5em;
  }
  label {
    font-size: 1.25em;
  }
  input, textarea {
    font-size: 1em;
    padding: 0.25em;
    width: 95%;
  }
  .row {
    display: flex;
    flex-direction: row-reverse;
  }
  .column {
    flex-grow: 1;
  }
  #intro {
    background-color: #ececec;
    padding: 10% 0 2% 0;
    margin: 0;
  }
  #columnOne {
    flex-grow: 2;
  }
  #contactForm {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  #formButton {
    font-size: 1.5em;
  }
}
