*{

}

#tagline{
  background-image: url(../img/Homepage.jpg);
  background-size: cover;
  padding: 30% 10%;
  text-align: center;
  box-shadow: 0px 0px 10px black;
}

#taglinetext{
  color: white;
  font-weight: bold;
  padding-top: 20%;
  font-size: 150%;
}

.cta{
  color: white;
  border: 1px solid white;
  padding: 5%;
  background: #53b0bd;
  font-family: 'Ubuntu', sans-serif;
  margin: 0 auto;
}

.bodycopy{
  padding: 10% 10%;
}

#team{
    background-image: url(../img/group.png);
    padding: 15% 10%;
    background: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.teamText{
  color: white;
  font-weight: bold;
  font-size: 200%;
  text-align: center;
  text-shadow: 2px 2px black;
}

.test{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #ececec;
  padding: 10% 10%;
  text-align: center;
  box-shadow: 0px 10px 15px #cecece;
}

.lastcta{
  padding: 10%;
  text-align: center;
}

footer{
  text-align: center;
  font-size: .5em;
}

#footerLogo {
    width: 42%;
    height: 15%;
}

/**********PHONE LANDSCAPE*************/
@media screen and (orientation: landscape) {
    #tagline{
      padding: 10% 10%;
    }

    #taglinetext{
      color: white;
      font-weight: bold;
      padding-top: 5%;
      font-size: 175%;
      text-shadow: 2px 1px grey;
    }

    .lastcta{
      padding: 4%;
    }

    footer{
      font-size: .5em;
      padding: 0;
      margin: 0;
    }

    #footerLogo {
        width: 28%;
        height: 15%;
    }

}
/**********TABLET*************/
@media screen and (min-width: 750px) {
  #tagline{
    background-position: center center;
    padding: 10% 10%;
    text-align: center;
  }

  #taglinetext{
    color: white;
    font-size: 400%;
    text-shadow: 2px 2px black;
    font-weight: bold;
    padding-top: 10%;
  }

}

/**********TABLET LANDSCAPE*************/
@media screen and (min-width: 750px) and (orientation: landscape){
  #team{
      background-image: url(../img/group.png);
      padding: 10% 10%;
      background: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
  }

  .teamText{
    color: white;
    font-weight: bold;
    font-size: 400%;
    text-align: center;
    text-shadow: 2px 2px black;
  }

}

/**********iPad*************/
@media screen and (min-width: 1000px) {
  #tagline{
    background-position: center center;
    padding: 10% 10%;
    text-align: center;
  }

  #taglinetext{
    color: white;
    font-size: 200%;
    text-shadow: 2px 2px black;
    font-weight: bold;
    padding-top: 10%;
  }

  .cta{
    border: 1px solid white;
    padding: 2%;
    background: #53b0bd;
    font-family: 'Ubuntu', sans-serif;
    margin: 0 auto;
    /*transition-property: background;*/
    transition-property: all;
    transition-duration: .25s;
    transition-timing-function: linear;
  }

  .cta:hover{
    color: white;
    background: #12646f;
    border-radius: 25px;
  }

  .lastcta{
    padding-top: 2%;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    text-align: center;
  }

  .bodycopy{
    padding: 5% 10%;
  }

  .test{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 5% 10%;
    text-align: left;
  }

  .testText{
    padding-left: 5%;
  }

  #footerLogo {
      margin-top: 2%;
      width: 25%;
      height: 15%;
  }

  #team{
      background-image: url(../img/group.png);
      padding: 15% 10%;
      background: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
  }

  .teamText{
    color: white;
    font-weight: bold;
    font-size: 400%;
    text-align: center;
    text-shadow: 2px 2px black;
  }


}


/**********DESKTOP*************/
@media screen and (min-width: 1080px) {
  #tagline{
    background-position: center center;
    padding: 10% 10%;
    text-align: center;
  }

  #taglinetext{
    color: white;
    font-size: 250%;
    text-shadow: 2px 2px black;
    font-weight: bold;
    padding-top: 10%;
  }

  .cta{
    border: 1px solid white;
    color: white;
    padding: 2%;
    background:#12646f;
    font-family: 'Ubuntu', sans-serif;
    margin: 2% auto;
    /*transition-property: background;*/
    transition-property: all;
    transition-duration: .25s;
    transition-timing-function: linear;
  }

  .cta:hover{
    border: 1px solid white;
    color: white;
    background: #53b0bd;
    border-radius: 25px;
  }

  .lastcta{
    padding-top: 2%;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    text-align: center;
  }

  .bodycopy{
    padding: 5% 10%;
  }

  .test{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 5% 10%;
    text-align: left;
  }

  .testText{
    padding-left: 5%;
  }

  #team{
      background-image: url(../img/group.png);
      padding: 15% 10%;
      background: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
  }

  .teamText{
    color: white;
    font-weight: bold;
    font-size: 600%;
    text-align: center;
    text-shadow: 2px 2px black;
  }

footer{
  text-align: center;
  background-color: #ececec;
  padding: 1.5em;
  font-size: 1em;
}

#footerLogo {
    margin-top: 2%;
    width: 10%;
    height: 15%;
}

}
