p {
  font-size: 50px;
  font-family: 'Ubuntu', sans-serif;
}

button {
  font-size: 2.5em;
}

.cta{
  color: white;
  border: 1px solid white;
  padding: 5%;
  background: #53b0bd;
  font-family: 'Ubuntu', sans-serif;
  margin: 0 auto;
}

.bodycopy{
  padding: 10% 10%;
}

#aboutText {
  font-weight: bold;
  text-align: center;
}

.teamText{
  font-family: 'Cabin', sans-serif;
  color: white;
  font-weight: bold;
  font-size: 4em;
  text-align: center;
  text-shadow: 2px 2px black;
}

.test{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #ececec;
  padding: 10% 10%;
  text-align: center;
  box-shadow: 0px 10px 15px #cecece;
}

.lastcta{
  padding: 10%;
  text-align: center;
}

.img-circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 0 auto;
  border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(http://link-to-your/image.jpg) no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

#tagline{
  background-image: url(../img/Homepage.jpg);
  background-size: cover;
  padding: 30% 10%;
  text-align: center;
  box-shadow: 0px 0px 10px black;
}

#taglinetext{
  font-family: 'Cabin', sans-serif;
  color: white;
  font-weight: bold;
  padding-top: 20%;
  font-size: 1.5em;
}

#team{
  background-image: url(../img/group.png);
  padding: 15% 10%;
  background: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

/**********PHONE LANDSCAPE*************/
@media screen and (orientation: landscape) {
  p {
    font-size: 40px;
  }
  .lastcta{
    padding: 4%;
  }
  #tagline{
    padding: 10% 10%;
    font-size: 0.75em;
  }
  #taglinetext{
    color: white;
    font-weight: bold;
    padding-top: 5%;
    font-size: 175%;
    text-shadow: 2px 1px grey;
  }
}
/**********TABLET*************/
@media screen and (min-width: 750px) {
  #tagline{
    background-position: center center;
    padding: 10% 10%;
    text-align: center;
  }
  #taglinetext{
    color: white;
    font-size: 400%;
    text-shadow: 2px 2px black;
    font-weight: bold;
    padding-top: 10%;
  }
}

/**********TABLET LANDSCAPE*************/
@media screen and (min-width: 750px) and (orientation: landscape){
  .teamText{
    color: white;
    font-weight: bold;
    font-size: 4em;
    text-align: center;
    text-shadow: 2px 2px black;
  }
  #team{
    background-image: url(../img/group.png);
    padding: 10% 10%;
    background: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

/**********iPad*************/
@media screen and (min-width: 1000px) {
  p {
    font-size: 20px;
  }
  button {
    font-size: 1.5em;
  }
  .cta{
    border: 1px solid white;
    padding: 2%;
    background: #53b0bd;
    font-family: 'Ubuntu', sans-serif;
    margin: 0 auto;
    transition-property: all;
    transition-duration: .25s;
    transition-timing-function: linear;
  }
  .cta:hover{
    color: white;
    background: #12646f;
    border-radius: 25px;
  }
  .lastcta{
    padding-top: 2%;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    text-align: center;
  }
  .bodycopy{
    padding: 5% 10%;
  }
  .test{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 5% 10%;
    text-align: left;
  }
  .testText{
    padding-left: 5%;
  }
  .teamText{
    color: white;
    font-weight: bold;
    font-size: 400%;
    text-align: center;
    text-shadow: 2px 2px black;
  }
  #tagline{
    background-position: center center;
    padding: 10% 10%;
    text-align: center;
  }
  #taglinetext{
    color: white;
    font-size: 2em;
    text-shadow: 2px 2px black;
    font-weight: bold;
    padding-top: 10%;
  }
  #team{
    background-image: url(../img/group.png);
    padding: 15% 10%;
    background: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}


/**********DESKTOP*************/
@media screen and (min-width: 1080px) {
  .cta{
    border: 1px solid white;
    color: white;
    padding: 2%;
    background:#12646f;
    font-family: 'Ubuntu', sans-serif;
    margin: 2% auto;
    transition-property: all;
    transition-duration: .25s;
    transition-timing-function: linear;
  }
  .cta:hover{
    border: 1px solid white;
    color: white;
    background: #53b0bd;
    border-radius: 25px;
  }
  .lastcta{
    padding-top: 2%;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    text-align: center;
  }
  .bodycopy{
    padding: 5% 10%;
  }
  .test{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 5% 10%;
    text-align: left;
  }
  .testText{
    padding-left: 5%;
  }
  .teamText{
    color: white;
    font-weight: bold;
    font-size: 600%;
    text-align: center;
    text-shadow: 2px 2px black;
  }
  #tagline{
    background-position: center center;
    padding: 10% 10%;
    text-align: center;
  }
  #taglinetext{
    color: white;
    font-size: 250%;
    text-shadow: 2px 2px black;
    font-weight: bold;
    padding-top: 10%;
  }
  #team{
    background-image: url(../img/group.png);
    padding: 15% 10%;
    background: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
