/*NAVIGATION STYLING*/
* {
  font-size: 20px;
}

nav {
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  width: 100%;
  overflow: hidden;
  top: 0;
  padding-top: 1.5em;
}

#mainTopNav {
  text-align: center;
}

.topNav {
  display: flex;
  font-family: 'Pathway Gothic One', sans-serif;
  text-align: center;
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.5em 0;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.5);
  border-top: solid 3px #c2b394;
}

.navcontainer {
  display: flex;
  justify-content: center;
}

.navHide {
  display: none;
}

.topNav a {
  font-family: 'Cabin', sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  color: white;
  padding: 1em;
  width: 90%;
  text-decoration: none;
  color: black;
}

.topNav a:hover {
  color: #12646f;
}

.topNav a:active {
  color: #efefef;
}

#navLogo {
  display: block;
  margin: 0 auto;
  background: none;
}

#hamburger {
  color: #12646f;
  font-size: 75px;
}

/**********PHONE LANDSCAPE*************/
@media screen and (orientation: landscape) {
  #hamburger {
    padding: 0 0.2em 0.2em 0.2em;
    font-size: 2em;
  }
  .topNav {
    padding: 0;
    flex-direction: row;
  }
  .topNav a {
    padding: 0.5em;
    font-size: 1.5em;
  }
  #navLogo {
    width: 150px;
  }
}
/**********TABLET*************/
@media screen and (min-width: 750px) {
  #navLogo {
    width: 350px;
  }
  #hamburger {
    font-size: 3em;
  }
  .topNav a {
    font-size: 1.5em;
  }
}

/**********TABLET LANDSCAPE*************/
@media screen and (min-width: 750px) and (orientation: landscape){
}

/**********DESKTOP*************/
@media screen and (min-width: 1000px) {
  nav {
    justify-content: flex-end;
  }
  .topNav {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 0.5em 0;
    border: none;
    font-size: 0.6em;
    margin-right: 3%;
  }
  .topNav a {
    width: auto;
    color: #11120C;
    margin-left: 0.25em;
    margin-right: 0.25em;
  }
  #hamburger {
    display: none;
  }
  #navLogo {
    width: 200px;
    position: fixed;
    margin-left: 3%;
  }
  #header-cta {
    padding-top: 20%;
  }
}
