* {
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
}

.navlogo {
  margin: 0 auto;
}

.navcontainer {
  display: flex;
  justify-content: center;
}

#worth-style {
  font-family: Abel;
  font-size: 1em;
  font-style: italic;
}

#section1 {
  background: url(../img/mountain.jpg);
  background-size: cover;
  background-position: center center;
  padding-left: 10%;
  padding-right: 10%;
}

#section2 {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.testimonial {
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: aquamarine;
  font-size: 30px;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

.bannerquote {
  color: white;
  font-size: 2em;
  text-align: center;
  text-shadow: 2px 2px black;
}

.img-circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 0 auto;
  border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(http://link-to-your/image.jpg) no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.topimg {
  padding: 2%;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

h1 {
  text-align: center;
}

.container {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.bio {
  border: solid 2px black;
  margin: 5%;
  padding: 3%;
  flex-basis: auto;
  font-size: 20px;
}

.testwords {
  margin-top: 9%;
  margin-left: 5%;
  margin-right: 4%;
  display: inline;
  float: right;
}

#testimonialname {
  margin-left: 5%;
}

/*****FOOTER*****/
#footer {
  text-align: center;
  background-color: #ececec;
  padding: 1.5em;
  margin-top: 2em;
  font-size: 0.5em;
}

#footerLogo {
  width: 15%;
  height: 15%;
}

.container2 {
 display: flex;
 flex-direction: column;
 flex-grow: 1;
 flex-basis: 20%;
 margin: 5%;
 margin-top: 0%;
}

#alicia {
margin-top: -10%;
}

#devin {
margin-top: -5%;
}

/**********PHONE LANDSCAPE*************/
@media screen and (orientation: landscape) {
  #hamburger {
    padding: 0 0.2em 0.2em 0.2em;
    font-size: 2em;
  }
  .topNav {
    padding: 0;
    flex-direction: row;
  }
  .topNav a {
    padding: 0.5em;
    font-size: 1.5em;
  }
  #navLogo {
    width: 150px;
  }
}

#section1 {
  padding-top: 20%;
}

/**********TABLET*************/
@media screen and (min-width: 750px) {
  #navLogo {
    width: 350px;
  }
  #hamburger {
    font-size: 3em;
  }
  .topNav a {
    font-size: 1.5em;
  }
}

/**********TABLET LANDSCAPE*************/
@media screen and (min-width: 750px) and (orientation: landscape){
}

#section1 {
  padding-top: 20%;
  padding-bottom: 39%;
}

/**********DESKTOP*************/
@media screen and (min-width: 1000px) {
  nav {
    justify-content: flex-end;
  }
  .topNav {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 0.5em 0;
    border: none;
    font-size: 0.6em;
    margin-right: 3%;
  }
  .topNav a {
    width: auto;
    color: #11120C;
    margin-left: 0.25em;
    margin-right: 0.25em;
  }
  #hamburger {
    display: none;
  }
  #navLogo {
    width: 200px;
    position: fixed;
    margin-left: 3%;
  }

  .bannerquote {
    color: black;
    font-size: 2em;
    text-align: center;
    text-shadow: none;
    }

  #contactBottom {
    background: url(../img/mountain.jpg);
    background-position: center center;
    height: 50vh;
    background-size: cover;
    padding-top: 31%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 47%;
  }

  .testimonial {
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: left;
  }

  .row {
    display: flex;
    flex-direction: row-reverse;
  }

  .column {
    flex-grow: 1;
  }

  .container {
    margin-top: 3%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
