*{

}

#tagline{
  background-image: url(img/index-background.jpg);
  background-size: cover;
  padding: 30% 10%;
  text-align: center;
}

#taglinetext{
  font-weight: bold;
  padding-top: 20%;
}

.cta{
  border: solid 2px #53b0bd;
  padding: 5%;
  background: #53b0bd;
  font-family: 'Ubuntu', sans-serif;
  margin: 0 auto;
}

.bodycopy{
  padding: 10% 10%;
}

.test{
  background-color: #ececec;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 10% 10%;
}

.lastcta{
  padding: 10%;
  text-align: center;
}

footer{
  text-align: center;
}
