* {
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
}

/*NAVIGATION STYLING*/
nav {
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  width: 100%;
  overflow: hidden;
  top: 0;
  padding-top: 1.5em;
}

.topNav {
  display: flex;
  font-family: 'Pathway Gothic One', sans-serif;
  text-align: center;
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(17, 18, 12);
  background-color: rgba(17, 18, 12, 0.3);
  padding: 0.5em 0;
}

.navHide {
  display: none;
}

.topNav a {
  font-size: 2em;
  color: white;
  padding: 1em;
  width: 100%;
}

.topNav a:hover {
  color: #efefef;
}

.topNav a:active {
  color: #efefef;
}

#navlogo {
  display: block;
  margin: 0 auto;
  background: none;

}

.navcontainer {
  display: flex;
  justify-content: center;
}

#hamburger {
  font-size: 75px;
}

/*BODY*/

#section1 {
  background: url(img/mountain.jpg);
  height: 50vh;
  background-size: cover;
  padding-top: 30%;
  padding-left: 10%;
  padding-right: 10%;
}

#section2 {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

#firstperson {
  padding: 5%;
}

.testimonial {
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: teal;
}

.bannerquote {
  font-size: 2em;
  text-align: center;
}

.img-circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 0 auto;
}

.testimonial {
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

h1 {
  text-align: center;
}

.container {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.bio {
  border: solid 1px black;
  margin: 5%;
  padding: 5%;
  flex-basis: auto;
  font-size: 20px;
}

#footer {
  text-align: center;
}
