* {
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
}

.navlogo {
  margin: 0 auto;

}

.navcontainer {
  display: flex;
  justify-content: center;
}

#section1 {
  background: url(img/mountain.jpg);
  height: 50vh;
  background-size: cover;
  padding-top: 30%;
  padding-left: 10%;
  padding-right: 10%;
}

#section2 {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

#firstperson {
  padding: 5%;
  margin-bottom: -5%;
}

.testimonial {
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: aquamarine;
}

.bannerquote {
  font-size: 2em;
  text-align: center;
}

.img-circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 0 auto;
}

.testimonial {
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

h1 {
  text-align: center;
}

.container {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.bio {
  border: solid 1px black;
  margin: 5%;
  padding: 3%;
  flex-basis: auto;
  font-size: 20px;
}

#secondperson {
  padding: 5%;
  margin-bottom: -5%;
}

#footer {
  text-align: center;
}
